/* responsive mobile menu start */
@media screen and (max-width: 576px) {
    .hideNavbar{
        display: none;
    }
    .mobile_menu{
        display: block;
    }
}

/* responsive mobile menu end */


/* media query for 320px start */

@media screen and (max-width: 320px) {

    /* hero section start */

    .btn_primary{
        font-size: 30px;
    }

    .hero_section{
        width: 100%;
    }
    .hero_wrapper{
        flex-direction: column;
    }
    .header_icon img{
        width: 300px;
    }
    .hero_desc{
        width: 100%;
        padding:2rem ;
        justify-content: center;
    }
    .hero_vector img{
        padding-top: 2rem;
    }
    .hero_desc_details p{
        font-size: 35px;
        line-height: 3rem;
        padding-bottom: 2rem;
    }
    .hero_title{
        font-size: 30px;
    }
    .hero_image{
        padding-left: 1rem;
        width: 70%;
    }
    .hero_icon{
        left: 2rem;
    }

    /* hero section end */

    /* introduction section start */

    .intro_details{
        flex-direction: column;
        gap: 2rem;
    }
    .intro_title{
        padding-left:2rem ;
        width: 100%;
    }
    .intro_desc{
        padding-left:2rem ;
        width: 100%;
    }
    .intro_desc p{
        font-size: 35px;
        line-height: 3rem;
    }
    .intro_category{
        flex-direction: column;
        padding-left: 1rem;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .category_1{
       padding-right: 5rem;
    }
    .category_1 h3{
        font-size: 3rem;
    }
    .category_1 p{
        font-size: 35px;
        line-height: 3rem;
        padding-bottom: 2rem;
    }
    
    /* introduction section end */

    /* blog section start */
    .blog_items{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    .blog_1{
        width: 50%;
    }
    
    .blog1_desc h3{
        font-size: 30px;
    }
    .blog1_desc p{
        font-size: 35px;
        line-height: 3rem;
    }
    .blog1_desc{
        padding: 1em 1rem 1rem 1rem;
    }

    /* blog section end */

    /* guide section start */
    .guide_section{
        flex-direction: column;
        padding-top: 2rem;
    }
    .guide_details{
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .guide_details h2{
        font-size: 40px;
    }
    .guide_details p{
        font-size: 35px;
        line-height: 3rem;
    }
    .guide_image{
        background-image: linear-gradient(#333461, #483D8B, #353565);
        padding-top: 3rem;
    }
    

    /* guide section end */

    /* cta section start */

    .cta_details{
        flex-direction: column;
        padding-top: 3rem;
    }
    .cta_heading{
        width: 100%;
    }
    .cta_heading h2{
        font-size: 40px;
    }
    .cta_heading p{
        font-size: 35px;
        line-height: 3rem;
    }
    .cta_image{
        padding-left: 2rem;
        padding-top: 2rem;
    }
    .cta_icon{
        top: 70px;
        left: 80px;
    }
    .cta_icon img{
        padding: .5rem 1rem .3rem 1rem;
    }

    /* cta section end */


    /* footer section start */

    .footer_links_area{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .footer_about{
        width: 50%;
        text-align: left;
    }

    .footer_about img{
        width: 350px;
    }
    .footer_about p{
        font-size: 35px;
        line-height: 35px;
    }
    .footer_links{
        width: 50%;
        text-align: left;
        padding-top: 1rem;
    }
    .footer_title{
        font-size: 40px;
        padding-bottom: 1rem;
    }
    .footer_links ul li a{
        font-size: 30px;
        line-height: 35px;
    }
    .footer_contact{
        width: 50%;
        text-align: left;
        padding-top: 1rem;
    }
    .footer_contact ul li a{
        font-size: 30px;
        line-height: 35px;

    }
    .made_by{
        padding-left: 2rem;
    }
    .made_by p{
        font-size: 30px;
    }
    .made_by img{
        width: 20px;
    }
    .social_links{
        padding-right: 2rem;
    }
    .social_links a{
        width: 50px;
    }

    /* footer section end */

    
}

/* media query for 320px end */

/* media query for 576px start */

@media screen and (min-width: 576px) {

    /* hero section start */

    .header_icon img{
        width: 250px;
    }
    
    .hero_title{
        padding-top: 2rem;
        font-size: 25px;
    }
    .hero_desc_details p{
        font-size: 25px;
        padding-bottom: 2rem;
    }
    .btn_primary{
        font-size: 20px;
    }
    .hero_vector img{
        padding-top: 2rem;
    }
    
    /* hero section end */

    /* introduction section start */

    .intro_details{
        padding-left: 3rem;
    }
    .intro_desc p{
        padding:0 ;
        padding-right: 2rem;
        font-size: 25px;
        line-height: 2rem;
    }
    .category_1 h3{
        font-size: 25px;
    }
    .category_1 p{
        font-size: 25px;
        line-height: 2rem;
    }


    /* introduction section start */

    /* blog section start */
    .blog1_desc p{
        font-size: 25px;
        line-height: 2rem;
        padding-bottom: 2rem;
    }
    
    /* blog section end */

    /* guide section start */

        .p_1{
            font-size: 25px;
        }
        .p_2{
            font-size: 20px;
            line-height: 2rem;
        }
        .guide_poster{
            margin-top: 3.5rem;
        }
    /* guide section end */

    /* guide section start */

        .cta_heading{
            padding-left: 1rem;
        }
        .cta_heading p{
            font-size: 25px;
        }

    /* guide section end */

    /* footer section start */

        .footer_about img{
            width: 250px;
        }
        .footer_about p{
            font-size: 25px;
            line-height: 2rem;
        }
        .footer_title{
            font-size: 22px;
        }
        .footer_links ul li a{
            font-size: 22px;
        }
        .footer_contact ul li a{
            font-size: 22px;
        }
        .footer_links_area{
            padding-left: 1rem;
        }
        .footer_media{
            padding: 1rem;
        }
        .made_by p{
            font-size: 1.5rem;
        }
        .made_by img{
            width: 25px;
        }

    /* footer section end */

    /* media query for 576px end */

}

    /* media query for 1024px start */

    .navbar_items li a{
        font-size: 20px;
    }



    /* media query for 1024px end */







