@media screen and (max-width: 320px) {

    /* hero section start */

    .btn_primary{
        font-size: 30px;
    }

    .hero_section{
        width: 100%;
    }
    .hero_wrapper{
        flex-direction: column;
    }
    .header_icon img{
        width: 300px;
    }
    .hero_desc{
        width: 100%;
        padding:2rem ;
        justify-content: center;
    }
    .hero_desc_details p{
        font-size: 35px;
        line-height: 3rem;
        padding-bottom: 2rem;
    }
    .hero_title{
        font-size: 30px;
    }
    .hero_image{
        padding-left: 1rem;
        width: 70%;
    }
    .hero_icon{
        left: 2rem;
    }

    /* hero section end */

    /* introduction section start */

    .intro_details{
        flex-direction: column;
        gap: 2rem;
    }
    .intro_title{
        padding-left:2rem ;
        width: 100%;
    }
    .intro_desc{
        padding-left:2rem ;
        width: 100%;
    }
    .intro_desc p{
        font-size: 35px;
        line-height: 3rem;
    }
    .intro_category{
        flex-direction: column;
        padding-left: 1rem;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .category_1{
       padding-right: 5rem;
    }
    .category_1 h3{
        font-size: 3rem;
    }
    .category_1 p{
        font-size: 35px;
        line-height: 3rem;
        padding-bottom: 2rem;
    }
    
    /* introduction section end */

    /* blog section start */
    .blog_items{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    .blog_1{
        width: 50%;
    }
    
    .blog1_desc h3{
        font-size: 30px;
    }
    .blog1_desc p{
        font-size: 35px;
        line-height: 3rem;
    }
    .blog1_desc{
        padding: 1em 1rem 1rem 1rem;
    }

    /* blog section end */

    /* guide section start */
    .guide_section{
        flex-direction: column;
        padding-top: 2rem;
    }
    .guide_details{
        width: 100%;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .guide_details h2{
        font-size: 40px;
    }
    .guide_details p{
        font-size: 35px;
        line-height: 3rem;
    }
    .guide_image{
        background-image: linear-gradient(#333461, #483D8B, #353565);
        padding-top: 3rem;
    }

    /* guide section end */

    /* cta section start */

    .cta_details{
        flex-direction: column;
        padding-top: 3rem;
    }
    .cta_heading{
        width: 100%;
    }
    .cta_heading h2{
        font-size: 40px;
    }
    .cta_heading p{
        font-size: 35px;
        line-height: 3rem;
    }
    .cta_image{
        padding-left: 2rem;
        padding-top: 2rem;
    }
    .cta_icon{
        top: 70px;
        left: 80px;
    }
    .cta_icon img{
        padding: .5rem 1rem .3rem 1rem;
    }

    /* cta section end */





}