
:root {
    --font:"Kumbh Sans", sans-serif;
    --brand_color: #333461;
    --white: #FFFFFF;
    --green: #20AD96;
    --dark_gray: #041434;
    --gray:  #FAF8F6;
    --light_gray: #4A556C;
    --ash: #EDEFF5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font);
    background-color: var(--white);
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-weight: 800px;
    font-size: 48px;
    color: var(--brand_color);
    font-family: var(--font);
}

p{
    font-weight: 400;
    font-size: 16px;
    color: var(--light_gray);
    line-height: 24px;
}
a{
    text-decoration: none;
    font-family: var(--font);
    color: var(--white);
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

.container{
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1140px;
}

    /* header style start */


.header_section{
    background-color:var(--white) ;
    padding: 10px 0px 10px 0px;
}

.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_items{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.navbar_items li a{
    color: var(--light_gray);
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
}

.btn_primary{
    border-radius: 4px;
    background-color: var(--green);
    color: var(--white) !important;
    padding: 11px 16px;
    border: 1px solid var(--green);
    transition: .4s;
    font:var(--font);
}

.btn_primary:hover{
    background-color: var(--white);
    color: var(--green) !important;
}


    /* header style end */

    /* hero style start */

    .hero_section{
        background-color: var(--ash);
        position: relative;
        width: 100%;
    }
    
    .hero_wrapper{
        display: flex;
        justify-content: space-between;
        background-color: var(--ash);
    }
    .hero_vector{
        position: absolute;
        left: 6rem;
        top: 2rem;
    }
    .hero_desc{
        width: 50%;
        margin-top: 8rem;
    }

    .hero_title{
        opacity: 40%;
        font-size: 16px;
    }
    .hero_desc h1{
        font-size: 72px;
    }
    .hero_desc p{
        font-size: 18px;
        line-height: 28px;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .hero_image{
        text-align: center;
        width: 50%;
        margin-top: 4rem;
        position: relative;
    }
    
    .hero_image_layout{
        position: relative;
        top: 2rem;
    }
    .hero_icon{
        position: absolute;
        background-color: var(--white);
        top: 0;
        left: -4rem;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 1rem;
    }
    

    /* hero style end */

    /* introduction style start */

    .intro_section{
        margin-top: 6rem;
    }

    .intro_details{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    .intro_title{
        width: 50%;
    }
    .intro_desc{
        width: 50%;
    }
    .intro_title h2{
        line-height: 56px;
        padding-top: 2rem;
    }
    .intro_desc p{
        font-size: 17px;
        line-height: 25px;
        padding-right: 10rem;
    }
    
    .intro_category{
        display: flex;
        padding-top: 3rem;
    }
   
    .category_1 h3{
        font-size: 24px;
        padding: 1rem;
        color: var(--dark_gray);
    }
    .category_1 p{
        padding: 1rem;
        padding-right: .5rem;
    }

    /* introduction style end */

    /* blog style start */

    .blog_section{
        margin-top: 5rem;
        height: auto;
        text-align: center;
    }
    .blog_heading{
        text-align: center;
    }
    .blog_heading h2{
        line-height:56px;
    }
    .blog_items{
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 100px;
        margin-bottom: 70px;
        width: 100%;
    }
    .blog_1{
        border: 1px;
        background-color: var(--ash);
        width: 360px;
        gap: 20px;
    }
    
    .blog1_desc{
        text-align: left;
    }
    .blog1_desc h3{
        font-size: 24px;
        font-weight: 700;
        padding-left: 30px;
        padding-top: 10px;
        
    }
    .blog1_desc p{
        line-height:24px;
        padding-top: 10px;
        padding-left: 30px;
        padding-bottom: 20px;
        padding-right: 15px;
    }
    .blog_btn{
        padding-left: 3rem;
        padding-right: 3rem;
    }

    /* blog style end */

        /* guide style start */

        .guide_section{
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            gap: 50px;
            margin-bottom: 5rem;
            margin-top: 10rem;
            position: relative;
        }
        .guide_details{
            width: 50%;
            padding-top: 2rem;
        }
        .guide_details h2{
            line-height: 56px;
        }
        .p_1{
            font-size: 22px;
            line-height: 33px;
            padding: 1rem 1rem 0rem 0rem;
        }
        .p_2{
            font-size: 17px;
            line-height: 21px;
            padding-right: 1rem;
            padding-bottom: 2rem;
        }
        .guide_btn{
            padding-left: 3rem;
            padding-right: 3rem;
            border-radius: 10px;
        }
        .guide_image{
            width: 40%;
            position: relative;
            background-image: linear-gradient(#333461, #483D8B, #353565);
        }
        .guide_poster{
            padding-top: 175px;
            padding-left: 102px;
        }
        
         .guide_title{
            position: absolute;
            top: 20px;
            left: 0;
            z-index: 1;
        } 
        .guide_title h3{
            padding: 0rem 13rem 1rem 2rem;
            color: var(--white);
        }
    
        .guide_icon{
           background-color: var(--green);
           width: 110px;
           height: 100px;
           border-radius: 50%;
           color: var(--white);
           position: absolute;
           top: -30px;
           right: -50px;
            
        }
        .guide_icon p{
            color: var(--white);
            text-align: center;
            padding-top: 2rem;

        }

        .guide_footer{
            position: absolute;
            bottom: 30px;
            left: 30px;
            display: flex;
            flex-direction: row;
            padding: 2rem;
            gap: 20px;
        }
        .guide_footer img{
            background-color: var(--white);
            color: var(--dark_gray);
        }
        .guide_footer h4{
            font-size: 20px;
            color: var(--white);
        }
        .guide_footer p{
            color: var(--white);
    
        }
        
        /* guide style end */

    /* review style start */

    .review_section{
        background-color: blue;
        width: 100%;
    }
    .review_heading{
        background-color: yellow;
    }

    .review_cards{
        width: 100%;
        display: flex;
        flex-direction: row;
        background-color: red;
        
    }
    .single_card{
        background-color: var(--white);
        height: auto;
    }
    .card_desc{
        display: flex;
        flex-direction: column;
        padding-left: 1rem;
    }
    .card_desc h3{
        font-size: 24px;
        font-weight: 700;
    }
    .review_1{
        width: 70px;
        height: auto;
    }
    .review_star{
        width: 70px;
        height: auto;
    }
    .card_desc p{
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        color: var(--light_gray);
    }

    /* review style end */

    /* cta style start */  
    
    .cta_section{
        margin-top: 5rem;
    }

    .cta_details{
        display: flex;
        width: 100%;
        border-radius: 24px;
        background-color: var(--gray);
        margin-bottom: 30px;
    }
    .cta_heading{
        padding-left: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }
    .cta_heading h2{
        font-size: 36px;
    }
    .cta_heading p{
        font-size: 20px ;
    }
    .cta_btn{
        width: 200px;
        border-radius: 10px;
    }
    .cta_image{
        position: relative;
        width: 60%;
        align-items: flex-end;
    }
    .cta_image img{
        width: 100%;
        height: 100%;
        border-bottom-right-radius: 24px;
    }
    .cta_icon{
        position: absolute;
        background-color: var(--white);
        border-radius: 10px;
        top: 30px;
        left: 30px;
    }
    .cta_icon img{
        padding: .5rem 1rem .3rem 1rem;
    }

    /* cta style end */
    
    /* footer style start  */

.footer_subscription_row{
    background-color: var(--gray);
    padding: 64px 0;
}
.footer_subscription{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_subscription h3{
    font-weight: 800;
    font-size: 30px;
    line-height: 38px;
    color: var(--brand_color);
}
.footer_subscription p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--light_gray);
}
.footer_form_field{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: start;
    align-items: center;
}
.subscription_input{
    width: 280px;
    border-radius: 4px;
    background-color: var(--white);
    padding: 11px 16px;
    border: 1px solid var(--light_gray);
    color: var(--light_gray);
    transition: .4s;
}
.subscription_input:focus{
    outline: none;
}
.footer_form_field input[type="submit"].btn_primary{
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: var(--white);
    cursor: pointer;
}

/* links  */

.footer_links_area{
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 32px;
    padding: 64px 0;
    border-bottom: 1px solid var(--light_gray);

}

.footer_about{
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.footer_about a{
    display: inline-block;

}
.footer_about p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    opacity: .5;
}
.footer_links,.footer_contact{
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer_title{
    font-weight: 800;
    line-height: 20px;
    font-size: 14px;
}

.footer_links ul,.footer_contact ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer_links ul li a,.footer_contact ul li a{
    color: var(--light_gray);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    opacity: .5;
}

.footer_media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
.made_by{
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: var(--dark_gray);
}
.made_by a{
    color: var(--dark_gray);

}
.made_by a strong{
    font-weight: 700;
}
.social_links{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.social_links a img{
    width: 24px;
    height: 24px;
}

/* footer style end */