
:root {
    --font:"Kumbh Sans", sans-serif;
    --brand_color: #333461;
    --white: #FFFFFF;
    --green: #20AD96;
    --dark_gray: #041434;
    --gray:  #FAF8F6;
    --light_gray: #4A556C;
    --ash: #EDEFF5;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--font);
    background-color: var(--white);
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    font-weight: 800px;
    font-size: 48px;
    color: var(--brand_color);
    font-family: var(--font);
}

p{
    font-weight: 400;
    font-size: 16px;
    color: var(--light_gray);
    line-height: 24px;
}
a{
    text-decoration: none;
    font-family: var(--font);
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

.container{
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 1140px;
}

    /* header start */


.header_section{
    background-color:var(--white) ;
    padding: 10px 0px 10px 0px;
}

.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_items{
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.navbar_items li a{
    color: var(--light_gray);
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize;
}

.btn_primary{
    border-radius: 4px;
    background-color: var(--green);
    color: var(--white) !important;
    padding: 11px 16px;
    border: 1px solid var(--green);
    transition: .4s;
    font:var(--font);
}

.btn_primary:hover{
    background-color: var(--white);
    color: var(--green) !important;
}

    /* header end */

    /* hero start */

    .hero_section{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        height: auto;
        background-color: var(--gray);
    }
    .hero_desc{
        width: 50%;
    }
    .hero_desc_details{
        padding-left: 4rem;
        padding-right: 4rem;
    }
    .hero_title{
        opacity: 40%;
        font-size: 16px;
        padding-top: 50px;
    }
    .hero_desc h1{
        font-size: 72px;
    }
    .hero_desc p{
        font-size: 18px;
        line-height: 28px;
        padding-bottom: 20px;
    }
    .hero_image{
        width: 50%;
    }
    


    /* hero end */


    /* blog start */
    .blog{
        width: 100%;
        height: 800px;
        text-align: center;
    }
    .blog_heading{
        text-align: center;
    }
    .blog_heading h2{
        line-height:56px;
    }
    .blog_items{
        display: flex;
        justify-content: center;
        gap: 30px;
        margin-top: 100px;
        margin-bottom: 70px;
        width: 100%;
    }
    .blog_1{
        border: 1px;
        background-color: var(--ash);
        width: 360px;
        gap: 20px;
    }
    
    .blog1_desc{
        text-align: left;
    }
    .blog1_desc h3{
        font-size: 24px;
        font-weight: 700;
        padding-left: 30px;
        padding-top: 10px;
        
    }
    .blog1_desc p{
        line-height:24px;
        padding-top: 10px;
        padding-left: 30px;
        padding-bottom: 20px;
        padding-right: 15px;
    }
    

    /* blog end */

    /* cta start */    

    .cta_details{
        width: 80%;
        display: flex;
        background-color: var(--gray);
        border-radius: 24px;
        gap: 40px;
        justify-content: space-between;
        background-color: red;
    }
    .cta_heading{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }
    
    .cta_heading h2{
        font-size: 36PX;
        line-height: 44px;
    }
    .cta_heading p{
        size: 20px;
        color: var(--light_gray);
        line-height: 30px;
    }
    .cta_btn{
        display: block;
    }
    .cta_image{
        position: relative;
        
    }
    
    .cta_icon{
        width: 84px;
        height: 32px;
        position: absolute;
        background-color: red;
        top: 40px;
        left: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
    }
    
    .cta_image img{
        border-bottom-right-radius: 24px;
    }

    
    /* footer  */
.footer_subscription_row{
    background-color: var(--gray);
    padding: 64px 0;
}
.footer_subscription{
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_subscription h3{
    font-weight: 800;
    font-size: 30px;
    line-height: 38px;
    color: var(--brand_color);
}
.footer_subscription p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--light_gray);
}
.footer_form_field{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: start;
    align-items: center;
}
.subscription_input{
    width: 280px;
    border-radius: 4px;
    background-color: var(--white);
    padding: 11px 16px;
    border: 1px solid var(--light_gray);
    color: var(--light_gray);
    transition: .4s;
}
.subscription_input:focus{
    outline: none;
}
.footer_form_field input[type="submit"].btn_primary{
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: var(--white);
    cursor: pointer;
}

/* links  */

.footer_links_area{
    display: flex;
    flex: 1;
    flex-direction: row;
    gap: 32px;
    padding: 64px 0;
    border-bottom: 1px solid var(--light_gray);

}

.footer_about{
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.footer_about a{
    display: inline-block;

}
.footer_about p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    opacity: .5;
}
.footer_links,.footer_contact{
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer_title{
    font-weight: 800;
    line-height: 20px;
    font-size: 14px;
}

.footer_links ul,.footer_contact ul{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer_links ul li a,.footer_contact ul li a{
    color: var(--light_gray);
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    opacity: .5;
}

.footer_media{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}
.made_by{
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: var(--dark_gray);
}
.made_by a{
    color: var(--dark_gray);

}
.made_by a strong{
    font-weight: 700;
}
.social_links{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.social_links a img{
    width: 24px;
    height: 24px;
}