*{
    margin: 0;
    padding: 0;
    font-family: Kumbh Sans;
}

.header{
    height: 60px;
    padding: 10px 40px 10px 40px;
}

.header_items{
    display: flex;
    justify-content: space-between;
}
.navbar_items ul{
    display: flex;
    align-items: right;
}
.navbar_items ul li{
    padding: 10px;
    list-style: none;
    font-size: 15px;
    font-Weight:400; 
    line-height: 24px;
    color: #4A556C;
}
.btn1{
    background-color: #20AD96;
    border: none;
    width: 193px;
    border-radius: 4px;
    height: 40px;
    left: 383px;
    padding: 11px 16px 11px 16px;
    color: #FFFFFF;
    font-Weight:600;    
    font-Size:14px;
}



.hero{
    background-color: #FAF8F6;
    height: 703px;
    max-width: 1440px;
}
.hero_details{
    display: flex;
    justify-content: space-around;
}
.Hero_vector{
    Width:101px;
    Height:17px;
    margin-top:70px;
    margin-Left:34px;
}
.hero_desc{
    width: 545px;
    height: 396px;
    margin-top: 100px;    
}
.hero_image{
    position: relative;
}

.hero_frame{
    position: absolute;
    top: -285px;
    left: -250px;
    width: 149px;
    height: 56px;
}
.hero_image img{
    Width:462px;
    Height:603px;
    /* margin-left: 812px; */
    margin-top: 50px;
}

.hero_title{
    Width:343px;
    Height:24px;
    Opacity:40%;
    font-weight:400;
    Size:16px;
}
.hero_desc h1{
    font-weight:800;
    font-size:72px;
    Line-height:86.4px;
    color: #333461;
}

.hero_desc p{
    font-weight:400;
    Size:18px;
    Line-height:28.8px
}
.btn2{
    background-color: #20AD96;
    border: none;
    width: 250px;
    border-radius: 10px;
    height: 42px;
    padding: 9px, 16px, 9px, 16px;
    color: #FFFFFF;
    font-Weight:600;    
    font-Size:14px;
    margin-top: 25px;
}

.introduction{
    height: 734px;
}
.intro_details{
    width:1034px;
    height:200px;
    margin-top:129px;
    display: flex;
    margin-left: 80px;
    justify-content: space-around;
}
.intro_details h1{
    width:492px;
    height:112px;
    font-weight: 800;
    font-size: 48px;
    line-height:56px;
    color: #333461;
}
.intro_desc{
    width:468px;
    Height:200px;
}
.intro_desc p{
    font-weight: 400;
    font-size:17px;
    line-height:25px;
    color: #4A556C;
}

.intro_items{
    display: flex;
    justify-content: space-around;
    padding-left: 90px;
    padding-right: 90px;
}

.coaching{
    height:328px;
    margin-top: 45px;
    Padding:40px;
}
.coaching_detail{
    width: 300px;
    height: 144px;
}
.coaching_detail h2{
    height: 32px;
    font-Weight:700;
    font-size: 24px;
    line-height: 32px;
    color:  #041434;
}
.coaching_detail p{
    font-weight: 400;
    font-size:16px;
    Line-height:24px;
    color: #4A556C;
}

.consultation{
    height:328px;
    margin-top: 45px;
    Padding:40px;
}
.consultation_detail h2{
    height: 32px;
    font-Weight:700;
    font-size: 24px;
    line-height: 32px;
    color:  #041434;
}
.consultation_detail p{
    font-weight: 400;
    font-size:16px;
    Line-height:24px;
    color: #4A556C;
}

.group_coaching{
    height:328px;
    margin-top: 45px;
    Padding:40px;
}
.group_coaching h2{
    height: 32px;
    font-Weight:700;
    font-size: 24px;
    line-height: 32px;
    color:  #041434;
}
.group_coaching p{
    font-weight: 400;
    font-size:16px;
    Line-height:24px;
    color: #4A556C;
}

.blog{
    height: 800px;
    text-align: center;
}
.blog_heading{
    height:112px;
    text-align: center;
}
.blog_heading h1{
    font-Weight:800;
    font-size:48px;
    line-height:56px;
    color: #333461;
}
.blog_items{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 100px;
    margin-bottom: 70px;
}
.blog_1{
    width: 360px;
    height: 372px;
    border: 1px;
    padding: 2px;
    background-color: #EDEFF5;
}

.blog1_desc{
    width: 356px;
    height: 220px;
    padding-left: 20px;
    text-align: left;
}
.blog1_desc h2{
    width: 300px;
    height: 64px;
    font-weight:700;
    font-size:24px;
    line-height:32px;
    color: #333461;
}
.blog1_desc p{
    width: 300px;
    height: 96px;
    font-Weight:400;
    font-size:16px;
    Line-height:24px;
}

.blog_2{
    width: 360px;
    height: 372px;
    border: 1px;
    padding: 2px;
    background-color: #EDEFF5;
}

.blog2_desc{
    width: 356px;
    height: 220px;
    padding-left: 20px;
    text-align: left;
}
.blog2_desc h2{
    width: 300px;
    height: 64px;
    font-weight:700;
    font-size:24px;
    line-height:32px;
    color: #333461;
}
.blog2_desc p{
    width: 300px;
    height: 96px;
    font-Weight:400;
    font-size:16px;
    Line-height:24px;
}
.blog_3{
    width: 360px;
    height: 372px;
    border: 1px;
    padding: 2px;
    background-color: #EDEFF5;
}

.blog3_desc{
    width: 356px;
    height: 220px;
    padding-left: 20px;
    text-align: left;
}
.blog3_desc h2{
    width: 300px;
    height: 64px;
    font-weight:700;
    font-size:24px;
    line-height:32px;
    color: #333461;
}
.blog3_desc p{
    width: 300px;
    height: 96px;
    font-Weight:400;
    font-size:16px;
    Line-height:24px;
}

.btn3{
    align-items: center;
    width: 250px;
    height: 42px;
    border-radius: 10px;
    padding-top: 9px;
    padding-right: 16px;
    padding-bottom: 9px;
    padding-left: 16px;
    background-color: #20AD96;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.footer{
    padding-top: 80px;
    background-color: #FFFFFF;
    max-width: 1440px; 
    height: 496px;
}

.footer_notification{
    display: flex;
    height: 180px;
    justify-content: space-around;
    padding-top: 48px;
    padding-left: 0;
    padding-right: 0;
    background-color: #FAF8F6;
}
.notification_title{
    height:84px;
}

.notification_title h2{
    height:38px;
    color: #333461;
    font-weight:800;
    font-size:30px;
    Line-height:38px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 32px;
    padding-right: 32px;
}
.notification_title p{
    font-weight: 400;
    font-size: 20px;
    Line-height:30px;
    color: #4A556C;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 32px;
    padding-right: 32px;
}
input[type=text]{
    width: 240px;
    height: 34px;
    color: #4A556C;
}
.btn3{
    width: 150px;
    height: 44px;
    border-radius: 8px;
    border: 1px;
    padding-top: 10px;
    padding-right: 18px;
    padding-bottom: 10px;
    padding-left: 18px;
    background-color: #20AD96;
    color: #FFFFFF;
}

.footer_main{
    height: 316px;
    padding-top: 64px;
    padding-right: 0;
    padding-bottom: 48px;
    padding-left: 0px;
}
.footer-items{
    display: flex;
    justify-content: space-around;
    gap: 55px;
    height: 204px;
    padding-top: 0;
    padding-right: 32px;
    padding-bottom: 0;
    padding-left: 32px;
}
.footer_left{
    width: 320px;
    height: 107px;
    padding-left: 73px;
}
.footer_left p{
    opacity: 50%;
    height: 48px;
    font-weight: 400;
    font-size: 16px;
    Line-height:24px;
    color: #4A556C;
}
.footer_middle{
    width: 400px; 
    height: 216px;
}
.footer_middle h3{
    font-weight:800;
    font-size: 14px;
    Line-height:20px
}

.footer_middle ul li{
    list-style: none;
    height: 24;
    color: #4A556C;
    padding-top: 8px;
    padding-bottom: 8px;
}
.footer_right{
    width: 400px; 
    height: 216px;
}
.footer_right h3{
    font-weight:800;
    font-size: 14px;
    Line-height:20px
}
.footer_right ul li{
    list-style: none;
    height: 24;
    color: #4A556C;
    padding-top: 8px;
    padding-bottom: 8px;
}


